@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .features {
    @apply flex items-stretch justify-start gap-5 pb-3;    
    @apply relative max-w-full mx-auto overflow-x-auto;
  }

  .feature-card {
    @apply min-w-[171.06px] min-h-[187.64px] lg:w-[377.07px] lg:h-[411px] lg:min-w-[377.07px] lg:min-h-[411px]  2xl:w-[530px] 2xl:h-[579px] 2xl:min-w-[530px] 2xl:min-h-[579px];
    @apply border border-primary;
    @apply flex flex-col items-start justify-start gap-2 lg:gap-8 lg:py-14 2xl:py-20 px-6 lg:px-8 py-6;
  }

  .highligh-text {
    color: transparent !important;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color-main,#2D4BE0);
  }
  .highligh-text-variant {
    color: transparent !important;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
  }

  @media screen and (max-width:650px){
    .highligh-text {
      -webkit-text-stroke-width: 1px;
    }
    .highligh-text-variant{
      -webkit-text-stroke-width: 1px;
    }
  }

  .list-custom-increment {
    list-style: none;
    counter-reset: counter-highlighted;  
  }

  .list-custom-increment-item {
    counter-increment: counter-highlighted;  
  }

  .list-custom-increment-item::before {
    content: "0" counter(counter-highlighted);
    line-height: 1;
    @apply  highligh-text-variant font-bison text-5xl sm:text-[82px] 2xl:text-[100px] font-black tracking-wider 
  }

  .list-custom-increment-item * {
    @apply !text-sm !leading-4 sm:!text-2xl sm:!leading-8 2xl:!text-4xl 2xl:!leading-[45px]
  }
  .list-custom-increment-item div {
    margin-top: 4px;
  }
  
  .cover-grid {
    object-position: top 10% right 0
  }
  
  @media screen and (min-width:1536px){
    .cover-grid {
      object-position: top 20% right 0
    }
  }

  .collapse-table[open] {
    @apply bg-primary-content
  }

  .collapse-table[open] .collapse-text {
    @apply text-white
  }

  .collapse-table[open] .short-description {
    opacity: 0;
  }

  .collapse-icon {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 cursor-pointer
  }

  .collapse-icon[data-plus] {
    z-index: 2;
    opacity: 1;
  }
  .collapse-icon[data-minus] {
    z-index: 1;
    opacity: 0;
  }

  .collapse-table[open] .collapse-icon[data-plus] {
    opacity: 0;
  }
  .collapse-table[open] .collapse-icon[data-minus] {
    opacity: 1;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #eaeaea #ffffff;
  }

  /* Chrome, Edge, and Safari */
  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  /* Chrome, Edge and Safari */
  .scrollbar-variant::-webkit-scrollbar {
    height: 15.65px;
    width: 15.65px;
    @apply 2xl:w-[22px] 2xl:h-[22px]
  }
  .scrollbar-variant::-webkit-scrollbar-track {
    border-radius: 14.22px;
    background-color: #FFFFFF;
    @apply 2xl:rounded-[20px]
  }

  .scrollbar-variant::-webkit-scrollbar-track:hover {
    background-color: #FFFFFF;
  }

  .scrollbar-variant::-webkit-scrollbar-track:active {
    background-color: #FFFFFF;
  }

  .scrollbar-variant::-webkit-scrollbar-thumb {
    border-radius: 14.22px;
    background-color: #222933;
    @apply 2xl:rounded-[20px]
  }

  .scrollbar-variant::-webkit-scrollbar-thumb:hover {
    background-color: #222933;
  }

  .scrollbar-variant::-webkit-scrollbar-thumb:active {
    background-color: #222933;
  }

  .flex-three-cols {
    flex: 1 1 30%
  }

  .flex-two-cols {
    flex: 1 1 40%;
  }
}